/* ==========================================================================
   COLOUR SCHEMES
   ========================================================================== */

/*SCHOOLS*/
$blue : #4968D1;
$dblue : #0C3261;


/*UNIVERSITIES*/
$red : #992B2C;
$lred : #B74144;
$dred : #810106;

/*REPRESENTATIVE*/
$purple : #373553;
$lpurple: #250D3C;
$dpurple : #250D3C;

/*SEVENS*/
$pink : #A73260;
$dpink : #E74E8B;

/*AROUND THE GAME*/
$green : #1A4417;
$dgreen : #1C3203;

/*IATS*/
$orange : #D45703;

#page-header{

	&.schools{
		color: #fff;
		background-color: $dblue;

		.icon-badge:after{
			@extend %icon;
			content: "\e616";			
		}
	}

	&.university{
		color: #fff;
		background-color: $dred;

		.icon-badge:after{
			@extend %icon;
			content: "\e618";			
		}
	}

	&.representative{
		color: #fff;
		background-color: $dpurple;

		.icon-badge:after{
			@extend %icon;
			content: "\e615";			
		}
	}

	&.sevens{
		color: #fff;
		background-color: $dpink;

		.icon-badge:after{
			@extend %icon;
			content: "\e617";			
		}
	}

	&.around-the-game{
		color: #fff;
		background-color: $dgreen;

		.icon-badge:after{
			@extend %icon;
			content: "\e611";			
		}
	}
	
	&.fitness{
		color: #fff;
		background-color: $orange;
			
		.icon-badge:after{
			@extend %icon;
			content: "\e614";			
		}
	}
}

.live-bg{
	color: #000;
	background-color: #FFD20D;
	border-top: 1px solid black;

		.icon-badge:after{
			@extend %icon;
			content: "\e611";			
		}
}

/*MEDIA*/
.media-bg{
	color: #fff;
	background-color:#005377;

		.icon-badge:after{
			@extend %icon;
			content: "\e619";		
		}
}

.medialight-bg{
	background-color: #262631;
}
.mediadark-bg{
	background-color: #1b1b1f;
}

article{

	.icon-badge:after{
		font-size: 1.2em;
	}

	&.schools{
		.icon-badge:after{
			@extend %icon;
			content: "\e616";			
		}
	}
	&.university{
		.icon-badge:after{
			@extend %icon;
			content: "\e618";			
		}
	}
	&.representative{
		.icon-badge:after{
			@extend %icon;
			content: "\e615";			
		}
	}
	&.sevens{
		.icon-badge:after{
			@extend %icon;
			content: "\e617";			
		}
	}
	&.around{
		.icon-badge:after{
			@extend %icon;
			content: "\e611";			
		}
	}
	&.fitness, &.nutrition, &.training{
		.icon-badge:after{
			@extend %icon;
			content: "\e614";			
		}
	}
	&.media{
		.icon-badge:after{
			@extend %icon;
			content: "\e60e";			
		}
	}
}