input[type="text"],
input[type="email"],
textarea{
	padding: 0.5em;
	border: 1px solid #e6e6e6;
	outline: none;
}

.gform_wrapper{

	.gfield{
		margin: 0 0 1.2em 0;
		padding: 0;
		border:none;
	
		label{
			display: block;
			margin-bottom: 0.5em;
			font-weight: normal !important;
			@include heavy;
			text-transform: uppercase;
		}

		.ginput_container{
			input[type="text"],
			input[type="email"],
			input[type="url"],
			textarea{
				width: 100%;
				max-width: 100%;	
				padding: 0.5em;
				font-size: 100%;
				border: 1px solid #e6e6e6;
				outline: none;
			}
		}

		&.gfield_error{
			color: #e74c3c;
			@extend .small;
			background: none !important;
		}
	}// .gfield

	.gform_footer{
		input[type="submit"]{
			@extend button;
			padding: 0.5em 1em;
			color: #fff;
			@extend %title;
			@include heavy;
			background-color: #000;
			border: 1px solid transparent;
			@include transition(all,.3s);
			
			&:hover{
				color: #000;
				background-color: #fff;
				border: 1px solid #000;
			}	
		}
	}// .gform_footer

}// .gform_wrapper